navbar#navbar
    .container
        .mobileNavbar 
            .row 
                .col-7
                    a(href="/")
                        img.img-fluid.logo(src="/images/logos/mobile_logo.webp" , alt="Logo")
                .col-5.text-right
                    span.drop#showSubNavbar Menu 
                        img(src="/images/navbar/menu-button.svg")

        ul.list-unstyled.linksOfNavbar 
            .closeNavBar 
                img(src="/images/navbar/close-cross.svg", alt="Close")
            - var newClass = 0;
            each val , index in navbar
                - val[2] ? newClass = 'hasSub' : newClass = 0;
                div.navSubContainer
                    li 
                        div(class=newClass)
                            a(href=val[1])= val[0] 
                            if val[2] 
                                span.toggleSubNavLinks 
                                    span
                            if val[2]
                                ul.list-unstyled.subNavLinks 
                                    each ll in val[2]
                                        li
                                            a(href=ll[1])= ll[0]
                                            
                                    .clear-fix
                                    span.bottom 
                                        img(src="/images/navbar/navbar_list_botton.webp", alt="Link")

            li.mobileExtraOptions 
                div.one 
                    .contactAt Contact us at 
                    a(href="tel:424242424") 454242424 
                    span Or 
                    a.contact(href="/contact_us.html") Click Here
                .two 
                    a(href="/contact_us.html") Remote Support
                .three 
                    ul.social.list-unstyled 
                        each val in socialMediaHomepage 
                            li 
                                a(href=val[1]) 
                                    img.img-fluid(src='/images/social/'+val[0] , alt=val[2] , target="_blank")
        .overlyNavbar
        