//- first intro
#homePageIntroduce1 
    div.background
        .row
            .col-md-6.talk
                h2.wow.bounceInLeft Reduce Overhead. Ensure Quality Calls. Increase Efficiency.
                img.wow.bounceInLeft.phone(src=projectUrl+"/images/introduce/phone.png")
            .col-md-6.video
                .mobile_background.wow.bounceInRight
                    div 
                        img.img-fluid(src=projectUrl+"/images/introduce/Tab_image.png" , alt="Mobile") 
                        .text.wow.bounceInRight 
                            .data 
                                span.see See it yourself!
                                span.watch Watch The Video 
                                a#callTheVideo.active(href="#") Click Here
            #theVideo 
                div 
                    iframe(src=videoIframe, allowfullscreen)
//- second intro
#homePageIntroduce2 
    .background.text-center
        .data.wow.fadeInUp
            span About Company
            h1 Expert Advice And Quality Service
            h5 Sed maximus risus tristique viverra dapibus. Nam vehicula dictum eros nec pharetra.
            p Etiam vitae libero ut nulla rutrum iaculis vitae a elit. Morbi venenatis accumsan consectetur. Quisque nec congue neque. Integer interdum tellus ac orci mollis, nec finibus eros congue. Etiam ut sapien a dolor rutrum placerat. Nunc egestas justo ac leo placerat, at posuere ex dignissim. Praesent accumsan lorem vel lorem commodo efficitur.
            .buttons 
                a.more(href=projectUrl+"/why_us.html") More About Us 
                a.contact(href=projectUrl+"/contact_us.html") Contact Us